<div class="reach_out">
    <div>
        <a href="https://github.com/9Yogesh9/Issue-Tracker" target="_blank">
            <img src="/images/github.svg" alt="" srcset="">
        </a>
    </div>
    <div>
        <a href="https://www.linkedin.com/in/yogesh-bhat/" target="_blank">
            <img src="/images/linkedin-in.svg" alt="" srcset="">
        </a>
    </div>
</div>