<link rel="stylesheet" href="/css/home.css">

<div class="main_container">
    <div class="left_nav">
        <div class="nav_elements">
            NAV
        </div>
        <div class="nav_elements">Nav1</div>
        <div class="nav_elements">Nav1</div>
        <div class="nav_elements">Nav1</div>
        <div class="nav_elements">Nav1</div>
        <div class="nav_elements">Nav1</div>
    </div>
    <div class="content_container">
        <div class="card" id="add_project">
            <div id="add_icon">
                <img src="/images/plus-solid.svg" alt="" srcset="">
            </div>
        </div>
        <div class="card">
            ABC
        </div>
        <div class="card">3</div>
        <div class="card">4</div>
        <div class="card">5</div>
        <div class="card">6</div>
        <div class="card">3</div>
        <div class="card">4</div>
        <div class="card">5</div>
        <div class="card">6</div>
    </div>
</div>

<script src="/js/home.js"></script>