<link rel="stylesheet" href="/css/project_details.css">
<h1>Project_details</h1>
    <p><%= project_details.name %></p>
    <p><%= project_details.description %></p>
    <p><%= project_details.author %></p>
<script src="/js/project_details.js"></script>