.header_container{
    width: 100%;
    height: 10vh;
    display: flex;
    font-family: 'Major Mono Display', monospace;
    justify-content: center;
    align-items: center;
    background-color: #171717;
    background-image: linear-gradient(180deg, #476e6a, transparent);
    color: #757575;
    font-size: 18pt;
}

.header_container h1{
    color: #f0eded;
    text-shadow: 0 0px 17px #ff00aa;
}
