/* Rough containers */
#main_container {
  width: 100%;
  height: 90vh;
  color: #EEEEEE;
  background-color: #171717;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.left_nav {
  width: 25%;
  height: 80vh;
  border-right: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.content_container {
  width: 70%;
  height: 80vh;
  /* border: 1px solid red; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow-y: auto;
  align-items: center;
}

/* Nav Elements styling */
.nav_elements {
  width: 23vw;
  height: 10vh;
  margin-bottom: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  border-bottom: 1px solid #0b0808;
  border-top: 1px solid #433a3a;
  box-shadow: 1px 1px 1px 0px black;
  background-color: #262626;
}

.nav_elements:hover {
  transform: translate(2px);
  background-color: #363636;
  cursor: pointer;
}

/* Card styling */
.card {
  width: 300px;
  height: 250px;
  margin: 15px;
  background-color: #5C6BC0;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 1px 1px 13px 3px #424242;
}

.card:hover {
  box-shadow: inset 0px 0px 7px 3px rgb(255 255 255 / 75%);
  border: 1px solid white;
  cursor: pointer;
}

/* BLUR Effect for new project addition */
.blur_control {
  filter: blur(20px);
  pointer-events: none;
  user-select: none;
}

/* Add project card */
#add_project {
  border: 1px solid white;
  box-shadow: 0 0 0 0 rgba(180, 180, 180, 1);
  animation: pulse-beat 2s infinite;
  transition: 0.5s;
}

#add_project:hover {
  border: 3px solid white;
  animation: none;
}

.new_project_form_container {
  position: fixed;
  width: 600px;
  top: 20%;
  left: 32%;
  padding: 50px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  /* transform: translate(-50%,-50%); */
  box-shadow: 0px 5px 30px rgba(0, 0, 0, .30);
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}


.new_project_form_container span{
  color: rgb(230, 38, 38);
  font-size: 22pt;
  cursor: pointer;
  text-shadow: 0 1px 14px #6d6d6d;
  position: absolute;
  right: 20px;
  top: 12px;
}

.new_project_form_container span:hover{
  text-shadow:none;
  color: rgb(255, 0, 0);
}

.form_visiblity_control{
  top: 25%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}

.new_project_form {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.new_project_form input {
  margin: 10px;
  padding: 10px;
  font-family: serif;
  font-size: 20pt;
  text-align: center;
  outline: none;
  border: none;
  background: transparent;
  border-bottom: 1px solid #2e2c2c;
}

.new_project_form input::placeholder {
  color: rgb(159, 158, 159);
  text-align: left;
}

.new_project_form button {
  padding: 10px;
  font-size: 17pt;
  font-weight: 600;
  border-radius: 13px;
  cursor: pointer;
  box-shadow: 0px 2px 4px 3px black;
  background-color: #5C6BC0;
}

@keyframes pulse-beat {
  0% {
    box-shadow: 0 0 0 0 rgba(180, 180, 180, 0.7);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(180, 180, 180, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(180, 180, 180, 0);
  }
}

#add_icon {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-image: radial-gradient(#ffffff, #008ae100);
}